<!DOCTYPE html>
<html>
  <head>
    <%- include('../../views/partials/head'); %>
  </head>
  <body>
    <!-- loop through the skills and add a link to id -->
    <div
      class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-16 pt-20 text-center lg:pt-32"
    >
      <a class="underline" href="/skills">Go to all skills</a>
      <h1
        class="mx-auto max-w-4xl font-display text-5xl font-medium tracking-tight text-slate-900 sm:text-7xl"
      >
        <%= title %>
      </h1>

      <ul class="flex gap-4 justify-center">
        <li>
          Skill Name: <%= skill.skill %>
        </li>
        <li>
            Years of Experience: <%= skill.yearsOfExperience %> yrs
        </li>
      </ul>
    </div>
  </body>
</html>
