<!DOCTYPE html>
<html>
  <head>
    <%- include('../../views/partials/head'); %>
  </head>
  <body>
    <!-- loop through the skills and add a link to id -->
    <div
      class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-16 pt-20 text-center lg:pt-32"
    >
      <a class="underline" href="/">Home</a>
      <h1
        class="mx-auto max-w-4xl font-display text-5xl font-medium tracking-tight text-slate-900 sm:text-7xl"
      >
        <%= title %>
      </h1>

      <ul class="flex gap-4 justify-center">
        <% skills.forEach((skill) => { %>
        <li>
          <a
            class="underline hover:no-underline"
            variant="solid"
            href="/skills/<%= skill.id %>"
            ><%= skill.skill %></a
          >
        </li>
        <% }); %>
      </ul>

      <a
        class="group mt-8 bg-blue-600 inline-flex items-center bg-b justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-blue-900 text-white hover:bg-blue-700 hover:text-blue-100 active:bg-blue-800 active:text-blue-300 focus-visible:outline-blue-900"
        href="/skills/create"
        >Add a new skill</a
      >
    </div>
  </body>
</html>
